body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff;
}

/* Header */
header {
    background-color: #007bff;
    color: white;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Form */
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Ikon Sosial Media */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
    color: #ffcc00;
}